In [1]:
import pandas as pd

print("Hi! This is a cell. Press the ▶ button above to run it")

Hi! This is a cell. Press the ▶ button above to run it

In [2]:
def print_10_nums():
    for i in range(10):
        print(i, end=',')

In [3]:
print_10_nums()

0,1,2,3,4,5,6,7,8,9,

In [4]:
%time sum([x for x in range(100000)])

Wall time: 8 ms

4999950000

In [5]:
%quickref

In [6]:
%%perl

$_ = "whoa, python!";
s/python/perl/;
print

Couldn't find program: 'perl'

In [14]:
broken_df = pd.read_csv(r'C:\Users\iwandel\Documents\4_Pandas\pandas-cookbook\data/bikes.csv')

In [15]:
broken_df[:3]

  Date;Berri 1;Br�beuf (donn�es non disponibles);C�te-Sainte-Catherine;Maisonneuve 1;Maisonneuve 2;du Parc;Pierre-Dupuy;Rachel1;St-Urbain (donn�es non disponibles)
0                   01/01/2012;35;;0;38;51;26;10;16;
1                   02/01/2012;83;;1;68;153;53;6;43;
2                 03/01/2012;135;;2;104;248;89;3;58;

In [16]:
broken_df = pd.read_csv(r'C:\Users\iwandel\Documents\4_Pandas\pandas-cookbook\data/bikes.csv', encoding = "ISO-8859-1")

In [17]:
broken_df[:3]

  Date;Berri 1;Brébeuf (données non disponibles);Côte-Sainte-Catherine;Maisonneuve 1;Maisonneuve 2;du Parc;Pierre-Dupuy;Rachel1;St-Urbain (données non disponibles)
0                   01/01/2012;35;;0;38;51;26;10;16;
1                   02/01/2012;83;;1;68;153;53;6;43;
2                 03/01/2012;135;;2;104;248;89;3;58;

In [ ]:
fixed_df = pd.read_csv(r'C:\Users\iwandel\Documents\4_Pandas\pandas-cookbook\data/bikes.csv', encoding = 'latin1')